body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .container {
    width: auto;
    background-color: white;
  }
  nav {
    background-color: #fff;
    padding: 10px;
    border-bottom: solid 2px rgb(70, 0, 248);
  }
  .header h1 {
    font-size: 40px;
    margin-left: 20px;
    border-bottom: solid 2px rgb(70, 0, 248);
  }
  
  .header ul li {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    border-bottom: solid 2px   rgb(70, 0, 248);
  }
  
  .cover {
    height: 400px ;
    background-image: url(Server.jpg);
    background-size: 1280px 613px;
  }
  
  main {
    display: flex;
    padding: 20px;
  }
  
  
  .content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
    border: solid 2px rgb(70, 0, 248);
  }
  
  .sidebar {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px rgb(70, 0, 248);
  }
  
  .footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    border: solid 2px rgb(70, 0, 248);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
  }